body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f9;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(100, 90, 90, 0.1);
}

h3 {
  color: #333;
  margin: 50px 0 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid #007bff;
  padding-bottom: 5px;

}

form div {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
  cursor: pointer;
}

label:hover::after {
  content: attr(title);
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  top: -30px;
  left: 0;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

input[type="text"],
select,
input[type="file"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 25px;
}

input[type="checkbox"] {
  margin-right: 10px;
  margin-bottom: 25px;
}

input[type="text"]:focus,
select:focus,
input[type="file"]:focus {
  border-color: #007bff;
  outline: none;
}


button:hover {
  background-color: #0056b3;
}

pre {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}